'context-menu':
  '.overlayer':
      'Enable coffeecompile': 'coffeecompile:compile'

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'CoffeeCompile'
      'submenu': [
        { 'label': 'Compile', 'command': 'coffeecompile:compile' }
      ]
    ]
  }
]
